In [1]:
# import
import numpy as np
import pandas as pd
import os

In [18]:
# file path
gcode = 'Gantry_Gcode.txt'
df = pd.read_csv(gcode, header=None, sep=' ')
# X- adjust
xadj = -20
xmult = 1.2
# Y- adjust
yadj = -20
ymult = 1
# Speed adjust
speedmult = 1
# Reverse 
reverse = False

In [19]:
print('Gcode before adjustment')
df.head()

Gcode before adjustment

    0        1         2      3
0  G0  X26.989   Y68.792  F2280
1  G0  X26.989  Y105.284  F2280
2  G0  X26.989  Y105.287    NaN
3  G0   X26.99  Y105.208  F3600
4  G0  X32.489  Y105.284    NaN

In [20]:
df_adj = df.copy().rename(columns={0:'Comm', 1:'X', 2:'Y', 3:'Speed'})
ypos = df.iloc[:,2].str.split('Y')
xpos = df.iloc[:,1].str.split('X')
for i, (x, y) in enumerate(zip(xpos,ypos)):
    df_adj.iloc[i, 1] = (float(x[1]))
    df_adj.iloc[i, 2] = (float(y[1]))
    
# make adjustment
df_adj.loc[:,'Y'] = (df_adj.loc[:,'Y'] + yadj) * ymult
df_adj.loc[:,'X'] = (df_adj.loc[:,'X'] + xadj) * xmult
df_adj.loc[:,'Speed'] = (df_adj.loc[:,'Speed']) * speedmult

# update df
x = pd.Series(['X']*len(xpos))
y = pd.Series(['Y']*len(ypos))
df_adj.loc[:,'Y'] = y + (df_adj.loc[:,'Y']).astype(str)
df_adj.loc[:,'X'] = x + (df_adj.loc[:,'X']).astype(str)

if reverse:
    df_adj = df_adj.iloc[::-1]

# save gcode
df_adj.to_csv(os.path.dirname(gcode)+'\\Gcode_adjusted.txt', sep = ' ', header=False, index=False)

In [21]:
print('Gcode after adjustment')
df_adj.head()

Gcode after adjustment

  Comm                    X        Y  Speed
0   G0   X8.386800000000001  Y48.792  F2280
1   G0   X8.386800000000001  Y85.284  F2280
2   G0   X8.386800000000001  Y85.287    NaN
3   G0   X8.387999999999998  Y85.208  F3600
4   G0  X14.986799999999995  Y85.284    NaN